apiVersion: v1
kind: Service
metadata:
  name: app-svc
spec:
  type: ExternalName
  externalName: my.database.example.com
  selector:
    app: app
    tier: backend
  ports:
  - protocol: TCP
    port: 8080
    targetPort: 8080
